body {
    color: rgb(215, 224, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    background-image: url("https://instapik.ru/wp-content/uploads/2021/03/fon-palmy-dlya-fotoshopa.jpg");
    background-attachment: fixed;
    background-blend-mode: hue;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
