.List {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1100px;
}
.album {
  list-style-type: none;
}

.Heading {
  font-variant-caps: all-petite-caps;
  text-align: center;
}

.link {
  text-decoration: none;
}
