.backToMainPage  {
  text-decoration: none;
  background: linear-gradient(to right,rgba(255,255,255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%);;
}

.element {
  list-style-type: none;
}

.List {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  align-self: center;
  justify-content: space-between;
}


