@mixin base-styles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card{
  position: relative;
  width: 320px;
  height: 320px;
  margin: 15px;
  overflow: hidden;
}
.card .imgx,
.card .contentx
{
  @include base-styles;
}
.card .imgx img{
  @include base-styles;
  object-fit: cover;
}
.card .contentx::before{
  @include base-styles;
  content: '';
  background: rgb(255,255,255);
  transition: 0.5s;
  transform: scaleX(0);
  transition: transform 0s ease-in-out;
  transform-origin: right;
  transition-delay: 0s;
}
.card:hover .contentx::before{
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transition-delay: 0.2s;
}

.card .contentx{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .contentx .content{
  position: relative;
  padding: 30px;
  z-index: 1;
  transition: 0.5s;
  transform: translateX(-300px);
  transition-delay: 0.5s;
}

.card:hover .contentx .content{
  transform: translateX(0px);
  transition-delay: 0.5s;
}
.card:hover {
  background-color: white;
}

.card .contentx .content h2{
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentx .content p{
  font-size: 1em;
  line-height: 1.4em;
  font-weight: 300;
}
