.Window {
  display: flex;
  flex-direction: column;
  background: radial-gradient(rgba(0,0,0, 0.5) 0%, rgba(0, 0, 0, 0.9) 100%);//rgba(255,255,255,0.9);
  width: 800px;
  height: 750px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
.close{
  width: 2em;
  align-self: flex-end;
}
.Modal {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
}
.Content {
  align-self: center;
  padding: 2em
}

.button {
  background: none;
  border: none;
  font-size: 35px;
  color: rgb(215, 224, 218);
  text-shadow: #EEEE00 0 0 10px;

}
.navigation {
  height: 3em;
  align-self: center;
  font-size: 50px;
}
.title {
  text-shadow: #EEEE00 0 0 10px;
  padding-top: 1em;
  align-content: center;
  display: flex;
  justify-content: center;
}

.ReactModal__Overlay--after-open{
  background-color: rgba(0,0,0,0.8) !important;
}
